 <!-- Footer-->
 <footer class="py-5 bg-dark">
   <div class="row center-mobile">
     <div class="item col-xs-12 col-lg-4">
       <div>
         <img width="190px" src="../../../assets/images/logo2.png" alt="..." />
       </div>
       <div class="phrase">
         <h4>
           Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
           feugiat nulla facilisis.
         </h4>
       </div>
     </div>
     <div class="item col-xs-12 col-lg-2">
       <b>Important Links</b>
       <div><a routerLink='about'>About Us</a></div>
       <div><a routerLink='support'>Support</a></div>
       <div><a routerLink='contact'>Contact Us</a></div>
       <div><a href="#">Our Products</a></div>
       <div><a href="#">Payment Methods</a></div>
     </div>
     <div class="item col-xs-12 col-lg-2">
       <b>Useful Links</b>
       <div><a href="#">Cases</a></div>
       <div><a href="#">White Papers</a></div>
       <div><a href="#">FAQ</a></div>
       <div><a href="#">Blog</a></div>
     </div>
     <div class="item col-xs-12 col-lg-4">
       <b>Get in Touch</b>
       <div>Email: <a href="mailto:contact@conneqt.com">contact@conneqt.com</a></div>
       <div>Phone: 469-844-8261</div>
     </div>
   </div>