.container {
  font-family: "Araboto-Normal", Arial, Helvetica, sans-serif;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container h3 {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.container h5 {
  padding-left: 2.5rem;
}

.container a {
  color: #FD4D46;
  font-size: 20px;
  text-decoration: none;
}

.center {
  text-align: start;
  border: 2px solid #888888;
  margin-bottom: 3px !important;
  height: 5rem;
  padding-top: 18px;
}

.center span {
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  
}

.center p {
    padding-top: 5px;
    padding-left: 2rem;
    font-size: 20px;
}