 <!-- Footer-->
 <footer class="py-5 bg-dark">
    
    <div class="row gx-4 gx-lg-5">
        <div class="col-4 mb-5">
            <a>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
            </a>
        </div>
        <div class="col-2 mb-5">
            Important Links
About Us


Support


Contact Us


Our Products

 Payment Methods
        </div>
        <div class="col-2 mb-5">
            Useful Links
Cases


White Papers

 FAQ


Blog
        </div>
        <div class="col-4 mb-5">
            Get in Touch
Email: contact@conneqt.com

 Phone: 469-844-8261
        </div>
    </div>