<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=''>
            <img class="img-responsive" width="185px" src="../../../assets/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto navbar-right">
                <li class="nav-item"><a class="nav-link btn-primary" aria-current="page" routerLink='signup'>Sign Up For A Free Trial</a></li>
                <li class="nav-item"><a class="nav-link" routerLink='login'>Login</a></li>
            </ul>
        </div>
    </div>
</nav>
