<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h1>Or purchase a license</h1>
      <h3>Contact your local reseller to request a license trial or purchase Conneqt</h3>
      <div>
        <h3>Global Reseller</h3>

        <div class="d-lg-none">
          <div class="row">
            <a href="#">John Appleseed - Authorized Reseller <span class="material-icons">launch</span></a>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="center">
            <div class="row">
              <div class="col-6">
                <p>John Appleseed - Authorized Reseller</p>
              </div>
              <div class="col-3">
                <a href="#">Company Website <span class="material-icons">launch</span></a>
              </div>
              <div class="col-3">
                <span class="material-icons">call</span> 469-844-8261
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3>Brazil</h3>
        <div class="d-lg-none">
          <div class="row">
            <a href="#">Ultratech Revendedora <span class="material-icons">launch</span></a>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="center">
            <div class="row">
              <div class="col-6">
                <p>Ultratech Revendedora</p>
              </div>
              <div class="col-3">
                <a href="#">Company Website <span class="material-icons">launch</span></a>
              </div>
              <div class="col-3">
                <span class="material-icons">call</span> 469-844-8261
              </div>
            </div>
          </div>
        </div>
        <div class="d-lg-none">
          <div class="row">
            <a href="#">BlueFin <span class="material-icons">launch</span></a>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="center">
            <div class="row">
              <div class="col-6">
                <p>BlueFin</p>
              </div>
              <div class="col-3">
                <a href="#">Company Website <span class="material-icons">launch</span></a>
              </div>
              <div class="col-3">
                <span class="material-icons">call</span> 469-844-8261
              </div>
            </div>
          </div>
        </div>
        <div class="d-lg-none">
          <div class="row">
            <a href="#">Gold Comm Sistemas <span class="material-icons">launch</span></a>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="center">
            <div class="row">
              <div class="col-6">
                <p>Gold Comm Sistemas</p>
              </div>
              <div class="col-3">
                <a href="#">Company Website <span class="material-icons">launch</span></a>
              </div>
              <div class="col-3">
                <span class="material-icons">call</span> 469-844-8261
              </div>
            </div>
          </div>
        </div>
        <div class="d-lg-none">
          <div class="row">
            <a href="#">Centraltek <span class="material-icons">launch</span></a>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="center">
            <div class="row">
              <div class="col-6">
                <p>Centraltek</p>
              </div>
              <div class="col-3">
                <a href="#">Company Website <span class="material-icons">launch</span></a>
              </div>
              <div class="col-3">
                <span class="material-icons">call</span> 469-844-8261
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>