  <!-- Page Content-->
  <div class="container-fluid intro">
    <!-- Heading Row-->
    <div class="row align-items-center">

      <div class="col-xs-12 col-lg-6">
        <h3>Making distances a meaningless thing.</h3>
        <h1 class="font-weight-light">we are <span>conneqt</span></h1>
        <a class="btn btn-primary" routerLink='signup'>Sign Up For A Free Trial</a>
      </div>
      <div class="col-lg-6 d-none d-sm-block"><img class="img-fluid" height="600px" src="../../../assets/images/image1.png" alt="..." /></div>
    </div>
  </div>
