.look h1 {
  font-size: 74px;
  font-family: "Araboto-Normal";
}

.look h2 {
  font-size: 40px;
  font-family: "Araboto-Light";
}

.text-start {
    text-align: start;
    padding-top: 4px;
}

.form-group {
    padding-top: 2rem;
}

.form-control {
    font-size: 20px;
    height: 70px;
    color: #ff0000;
}