.intro {
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 3rem;
}

.image-row {
  display: inline-block;
}

.img-height {
  max-height: 340px;
}

.new-line {
  height: 25px;
  line-height: 25px;
}

.new-line span {
  color: #FD4D46;
  font-size: 38px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: 1.5rem;
}

@media screen and (min-width: 801px) {
  .new-line {
    font-size: 30px;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .new-line {
    font-size: 18px;
    margin-top: 1.5rem;
  }

  .new-line span {
    font-size: 25px;
    margin-right: .5rem;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 2rem;
  }
}