<!-- Page Content-->
<div class="container-fluid intro">
  <!-- Heading Row-->
  <div class="row align-items-center">
    <div class="col-lg-4 d-none d-lg-block">
      <img class="img-fluid img-height" src="../../../assets/images/monitor.png" alt="..." />
    </div>
    <div class="col-lg-2 d-none d-lg-block text-center">
      <img class="img-fluid img-height" src="../../../assets/images/celular.png" alt="..." />
    </div>
    <div class="col-xs-12 col-lg-6">
      <h1>Your team always connected</h1>
      <div class="new-line"><span class="material-icons">check_circle</span> One on one and group meetings</div>
      <div class="new-line"><span class="material-icons">check_circle</span> Record Meetings</div>
      <div class="new-line"><span class="material-icons">check_circle</span> Screen share</div>
      <div class="new-line"><span class="material-icons">check_circle</span> Share control over screens</div>
      <div class="new-line"><span class="material-icons">check_circle</span> Schedule and send reminders</div>
    </div>
  </div>
</div>