@import '~ngx-toastr/toastr.css';

@font-face {
  font-family: "CreteRound";
  src: local("CreteRound"), url(./assets/fonts/CreteRound/CreteRound-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Araboto-Normal";
  src: local("Araboto-Normal"), url(./assets/fonts/Araboto/Araboto-Normal.ttf) format("truetype");
}

@font-face {
  font-family: "Araboto-Thin";
  src: local("Araboto-Thin"), url(./assets/fonts/Araboto/Araboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Araboto-Light";
  src: local("Araboto-Light"), url(./assets/fonts/Araboto/Araboto-Light.ttf) format("truetype");
}

.nav-link {
  margin-left: 50px;
  border: 2px solid #eeeeee;
  background-color: white;
  border-radius: 2.5rem;
  color: #FD4D46;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link.active,
.open>.dropdown-toggle.nav-link {
  color: #c23b37;
  border: 2px solid #cccccc;
}

.btn-primary {
  min-width: 200px;
  background-color: #FD4D46;
  border-radius: 2.5rem;
  border: 2px solid #FD4D46;
  color: white;
}

.btn-secondary {
  min-width: 200px;
  border: 2px solid #eeeeee;
  background-color: white;
  border-radius: 2.5rem;
  color: #FD4D46;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: #c23b37;
  border-radius: 2.5rem;
  border: 2px solid #c23b37;
  color: white;
}

.form-group {
  padding-top: 2rem;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.form-control {
  font-size: 20px;
  height: 60px;
}

.bg-secondary {
  background-color: #F2F1EE !important;
}

.bottom {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
